@import "reset.scss";
@import "mixins.scss";

// Colors

$red: hsl(1, 90%, 64%);
$blue: hsl(219, 85%, 26%);

$white: hsl(0, 0%, 100%);
$container: hsl(228, 71%, 99%);
$veryLightGrayishBlue: hsl(210, 60%, 98%);
$lightGrayishBlue1: hsl(211, 68%, 94%);
$lightGrayishBlue2: hsl(205, 33%, 90%);
$grayishBlue: hsl(219, 14%, 63%);
$darkGrayishBlue: hsl(219, 12%, 42%);
$veryDarkBlue: hsl(224, 21%, 14%);

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  @include md {
    align-items: center;
    background-color: $container;
  }
}

main {
  width: min(100%, 600px);
  height: 100%;
  padding: 0 1rem;
  background-color: $white;
  @include md {
    border-radius: 10px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;

  &__notifications {
    font-size: 1.25rem;
    font-weight: bold;
  }

  &__count {
    display: inline-grid;
    place-items: center;
    font-size: 15px;
    margin-left: 0.3125rem;
    width: 35px;
    height: 30px;
    border-radius: 7px;
    background-color: $blue;
    color: $white;
  }

  &__mark {
    border: none;
    background-color: $white;
    font-size: 15px;

    &:hover {
      cursor: pointer;
      color: $blue;
      font-weight: bold;
      font-size: 14.5px;
    }
  }
}

.notifications {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__item {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 0.875rem;
    gap: 0.875rem;
    border-radius: 10px;

    &.active {
      .notifications__dot {
        display: inline-block;
      }
      background-color: $veryLightGrayishBlue;
    }
  }

  &__avatar {
    max-width: 2.5rem;
    align-self: flex-start;
  }

  &__name {
    font-weight: bold;

    &:hover {
      cursor: pointer;
      color: $blue;
    }
  }

  &__post {
    font-weight: bold;
    color: $darkGrayishBlue;

    &:hover {
      cursor: pointer;
      color: $blue;
    }
  }

  &__club {
    text-decoration: none;
    color: $blue;
    font-weight: bold;
  }

  &__dot {
    display: none;
    width: 8px;
    height: 8px;
    background-color: $red;
    border-radius: 50%;
    margin-left: 0.3125rem;
  }

  &__time {
    color: $grayishBlue;
  }

  &__image {
    align-self: flex-start;
    margin-left: auto;
    max-width: 40px;
    border-radius: 5px;

    &:hover {
      outline: 2px solid $lightGrayishBlue1;
      cursor: pointer;
    }
  }

  &__private {
    margin-top: 0.5rem;
    padding: 1rem;
    border: 1px solid $lightGrayishBlue1;
    border-radius: 5px;

    &:hover {
      background-color: $lightGrayishBlue1;
      border-color: $lightGrayishBlue1;
      cursor: pointer;
    }
  }
}
